<nav class="navbar">
    <h1>Dashboard</h1>
    <h5>group10@gmail.com</h5>
    <button>Logout</button>
    <div class="links">
      <a href="/">Home</a
      ><a class="new-item-link" href="/addbook">New Book</a>
    </div>
  </nav>